<!DOCTYPE html>
<html lang="en">


<%- include("../partials/headProduct.ejs") %>

    <body>
        <%- include("../partials/headerAdmi.ejs") %>

            <main class="maincontact3">
                <div class="contact_form3">

                    <div class="formulario3">
                        <h1 class="formulario3">Agregar Destino</h1>


                        <form action="/create" method="post" enctype="multipart/form-data">


                            <p>
                                <label for="name" class="colocar_nombre">Nombre Destino
                                </label>
                                <input type="text" name="name" id="nombre1" required="obligatorio" placeholder="">

                            </p>

                            <p>
                                <label for="date">Fecha de Salida</label>
                                <input type="date" id="date" name="date">
                            </p>
                            <p>
                                <label for="insure">Seguro COVID-19</label>
                                <input type="checkbox" id="insure" name="insure" value="true">
                            </p>
                            <p>
                                <label for="guide">Coordinador Permanente</label>
                                <input type="checkbox" name="guide" id="guide" value="true">
                            </p>
                            <p>
                                <label for="extras" class="colocar_nombre">Excursiones Incluidas
                                </label>
                                <input type="text" name="extras" id="extras" required="obligatorio"
                                    placeholder="Exrtras del paquete - de ser valido">
                            </p>

                            <p>
                                <label for="img">Imagen producto</label>
                                <input type="file" id="img" accept="jpg" name="img">

                            </p>
                            <p>
                                <label for="category">Categoria</label>
                                <select name="category" id="category">
                                    <option value="Internacional">Internacional</option>
                                    <option value="Nacional">Nacional</option>
                                </select>
                            </p>
                            <p>
                                <label for="status">Tipo de anuncio</label>
                                <select name="status" id="status">
                                    <option value="destacado">Destacado</option>
                                    <option value="oferta">Oferta</option>
                                </select>
                            </p>
                            <p>
                                <label>Salida</label>
                                <select>
                                    <option value="1">Grupal</option>
                                    <option value="2">Individual</option>
                                </select>
                            </p>
                            <p>
                                <label>Regimen Comidas</label>
                                <select id="comidas1">
                                    <option value="1">All inclusive</option>
                                    <option value="2">Media Pensión</option>
                                </select>
                            </p>
                            <p>
                                <label>Tipo de anuncio</label>
                                <select id="status" name="status">
                                    <option value="destacado">destacado</option>
                                    <option value="oferta">oferta</option>
                                </select>
                            </p>
                            <p>
                                <label for="transport">Traslado</label>
                                <select name="transport" id="transport">
                                    <option value="bus">Bus</option>
                                    <option value="avion">Avión</option>
                                </select>
                            </p>

                            <p>
                                <label for="detail" class=" colocarmensaje">Descripción
                                    <span class="obligatorio">*</span>
                                </label>
                                <textarea class="textomensaje" name="detail" id="detail"
                                    required="obligatorio"></textarea>
                            </p>
                            <p>
                                <label for="price">Precio</label>
                                <input type="text" id="price" name="price" value="" placeholder="$60.000">
                            </p>



                            <button type="submit" name="enviarformulario" id="enviar1">
                                <p class="enviar3">Subir</p>
                            </button>


                        </form>
                    </div>
                </div>
            </main>
            <script> hamburger = document.querySelector(".hamburger");
                hamburger.addEventListener("click", function () {
                    document.querySelector("body").classList.toggle("active");
                })</script>
    </body>

</html>