<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/headerAdmi.ejs") %>

            <main class="maincontact3">
                <div class="contact_form3">

                    <div class="formulario3">
                        <h1 class="formulario3">Agregar Destino</h1>


                        <form action="/create" method="post" enctype="multipart/form-data">


                            <p>
                                <label for="name" class="colocar_nombre">Nombre Destino
                                </label>
                                <input type="text" name="name" id="nombre1" required="obligatorio" placeholder="">

                            </p>

                            <p>
                                <label for="date">Fecha de Salida</label>
                                <input type="date" id="date" name="date">
                            </p>


                            <p>
                                <label for="img">Imagen producto</label>
                                <input type="file" id="img" accept="jpg" name="img">

                            </p>
                            <p>
                                <label for="category">Categoria</label>
                                <select name="category" id="category">
                                    <option value="1">Nacional</option>
                                    <option value="2">Internacional</option>
                                </select>
                            </p>
                            <p>
                                <label for="status">Tipo de anuncio</label>
                                <select name="status" id="status">
                                    <option value="1">Destacado</option>
                                    <option value="2">Oferta</option>
                                    <option value="3">Simple</option>
                                </select>
                            </p>
                            <p>
                                <label for="group">Grupo</label>
                                <select name="group" id="group">
                                    <option value="1">Grupal</option>
                                    <option value="2">Individual</option>
                                </select>
                            </p>
                            <p>
                                <label for="meals">Regimen Comidas</label>
                                <select name="meals" id="meals">
                                    <option value="1">All inclusive</option>
                                    <option value="2">Media Pensi贸n</option>
                                    <option value="3">Pensi贸n Completa</option>
                                    <option value="4">No incluye comidas</option>

                                </select>
                            </p>

                            <p>
                                <label for="transport">Traslado</label>
                                <select name="transport" id="transport">
                                    <option value="1">Avi贸n</option>
                                    <option value="2">Bus</option>
                                    <option value="3">Barco</option>
                                </select>
                            </p>

                            <p>
                                <label for="detail" class=" colocarmensaje">Descripci贸n
                                    <span class="obligatorio">*</span>
                                </label>
                                <textarea class="textomensaje" name="detail" id="detail"></textarea>
                            </p>
                            <p>
                                <label for="price">Precio</label>
                                <input type="text" id="price" name="price" value="price" placeholder="$60.000">
                            </p>



                            <button type="submit" name="enviarformulario" id="enviar1">
                                <p class="enviar3">Subir</p>
                            </button>


                        </form>
                    </div>
                </div>
            </main>
            <script> hamburger = document.querySelector(".hamburger");
                hamburger.addEventListener("click", function () {
                    document.querySelector("body").classList.toggle("active");
                })</script>
    </body>

</html>