<header class="header">
    <img class="header-logo" src="img/logoViajeros.png" alt="">

    <div class="header-rigth">
        <nav class="header-nav">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="contact">Contacto</a>
                </li>
                <li>
                    <a href="cart">Carrito</a>
                </li>
                <li>
                    <a href="login">Login</a>
                </li>
                <li>
                    <a href="register">Registrarse</a>
                </li>
            </ul>
        </nav>


        <h1 class="header-titulo">Titulo</h1>
        <p class="header-parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nesciunt, ullam voluptatem molestiae voluptatibus ipsa,
            autem quasi vel aperiam earum eaque fuga facere ipsam? Doloremque,
            fugiat molestias consectetur provident minima itaque.</p>
    </div>

</header>