<div class="contenedor-buscador">
    <form action="/searchResult" method="put">
        <input class="input-buscador" type="search" value="Busca tu destino" name="searchBar" id="searchBar">
    </form>
</div>