<!DOCTYPE html>
<html lang="en">


<%- include("../partials/headproduct.ejs") %>

    <body>
        <%- include("../partials/headerAdmi.ejs") %>

            <main class="maincontact3">
                <div class="contact_form3">

                    <div class="formulario3">
                        <h1 class="formulario3">Agregar Destinos</h1>

                        <form action="" method="post">


                            <p>
                                <label for="nombre" class="colocar_nombre">Nombre Destino
                                </label>
                                <input type="text" name="nombrecolocar" id="nombre1" required="obligatorio"
                                    placeholder="">
                               
                            </p>

                            <p>
                                <label>Fecha de Salida</label>
                                <br>
                                <input type="date" id="date1" name="fechacolocar">
                            </p>
                            <p>
                                <label>Seguro COVID-19</label>
                                <input type="checkbox" id="cbox1" value="first_checkbox">
                            </p>
                            <p>
                                <label>Coordinador Permanente</label>
                                <input type="checkbox" id="cbox1" value="second_checkbox">
                            </p>
                            <p>
                                <label for="nombre" class="colocar_nombre">Excursiones Incluidas
                                </label>
                                <input type="text" name="Excursiones Incluidas" id="nombre1" required="obligatorio"
                                    placeholder="">
                            </p>

                            <p>
                                <label>Imagen producto</label>
                                <input type="file" id="img" accep="jpg">

                            </p>
                            <p>
                                <label>Salida</label>
                                <select>
                                    <option value="1">Grupal</option>
                                    <option value="2">Individual</option>
                                </select>
                            </p>
                            <p>
                                <label>Viaje</label>
                                <select>
                                    <option value="1">Exterior</option>
                                    <option value="2">Nacional</option>
                                </select>
                            </p>
                            <p>
                                <label>Regimen Comidas</label>
                                <select id="comidas1">
                                    <option value="1">All inclusive</option>
                                    <option value="2">Media Pensión</option>
                                </select>
                            </p>
                            <p>
                                <label>Traslado</label>
                                <select>
                                    <option value="1">Bus</option>
                                    <option value="2">Avión</option>
                                </select>
                            </p>

                            <p>
                                <label for="mensaje" class="colocarmensaje">Descripción
                                    <span class="obligatorio">*</span>
                                </label>
                                <textarea name="introducir_mensaje" class="textomensaje" id="mensaje1"
                                    required="obligatorio" placeholder=""></textarea>
                            </p>
                            <p>
                                <label for="currency-field">Precio</label>
                                <input type="text" name="currency-field" id="price" value="" placeholder="$60.000">
                            </p>



                            <button type="submit" name="enviarformulario" id="enviar1">
                                <p class="enviar3">Subir</p>
                            </button>


                        </form>
                    </div>
                </div>
            </main>
            <script> hamburger = document.querySelector(".hamburger");
                hamburger.addEventListener("click", function () {
                    document.querySelector("body").classList.toggle("active");
                })</script>
    </body>

</html>