<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %> 

<body>
    <%- include("../partials/header.ejs") %> 

    <section class="buscador">
        <div class="contenedor-buscador">
            <input class="input-buscador" type="text" value="Busca tu destino">
        </div>
        <div class="header-contenedor-bars">
            <i class="fas fa-bars header-bars"></i>
        </div>
        <img class="imgpbanner" src="img/banner2.png" alt="">
    </section>


    <main class="main-home">
        <h1 class="main-home-titulo">Destinos</h1>

        <section class="main-home-section">
            <article class="article">
                <div class="article-card-top">
                    <img class="article-img"
                        src="https://www.artmajeur.com/medias/standard/d/e/dennis-zaruma/artwork/7779961_fotografia-de-paisaje-natural-9.jpg"
                        alt="">
                </div>
                <div class="article-card-body">
                    <h1 class="article-titulo">Titulo</h1>
                    <p class="article-parrafo">detalle</p>
                    <p class="article-precio">$100</p>
                    <div class="contenedor-btn">
                        <button class="article-btn" onClick="redirect()">Comprar</button>
                    </div>
                </div>
            </article>

            <article class="article">
                <div class="article-card-top">
                    <img class="article-img"
                        src="https://www.artmajeur.com/medias/standard/d/e/dennis-zaruma/artwork/7779961_fotografia-de-paisaje-natural-9.jpg"
                        alt="">
                </div>
                <div class="article-card-body">
                    <h1 class="article-titulo">Titulo</h1>
                    <p class="article-parrafo">detalle</p>
                    <p class="article-precio">$100</p>
                    <div class="contenedor-btn">
                        <button class="article-btn">Comprar</button>
                    </div>
                </div>
            </article>

            <article class="article">
                <div class="article-card-top">
                    <img class="article-img"
                        src="https://www.artmajeur.com/medias/standard/d/e/dennis-zaruma/artwork/7779961_fotografia-de-paisaje-natural-9.jpg"
                        alt="">
                </div>
                <div class="article-card-body">
                    <h1 class="article-titulo">Titulo</h1>
                    <p class="article-parrafo">detalle</p>
                    <p class="article-precio">$100</p>
                    <div class="contenedor-btn">
                        <button class="article-btn">Comprar</button>
                    </div>
                </div>
            </article>

            <article class="article">
                <div class="article-card-top">
                    <img class="article-img"
                        src="https://www.artmajeur.com/medias/standard/d/e/dennis-zaruma/artwork/7779961_fotografia-de-paisaje-natural-9.jpg"
                        alt="">
                </div>
                <div class="article-card-body">
                    <h1 class="article-titulo">Titulo</h1>
                    <p class="article-parrafo">detalle</p>
                    <p class="article-precio">$100</p>
                    <div class="contenedor-btn">
                        <button class="article-btn">Comprar</button>
                    </div>
                </div>
            </article>
        </section>

    </main>

    <section class="nosotros">
        <div>
            <h1 class="nosotros-titulo">Titulo</h1>
            <p class="nosotros-parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cumque corporis qui, rem officia quo dolore nulla quae, doloremque explicabo eius deserunt
                autem eligendi fugit officiis. Unde doloribus alias sed repellendus!</p>
            <div class="nosotros-contenedor-btn">
                <button class="nosotros-btn">Conocer más</button>
            </div>
        </div>

        <div class="nosotros-contenedor-img">
            <img class="nosotros-img"
                src="https://www.xplora.eu/wp-content/uploads/como-escribir-web-sobre-nosotros.jpg" alt="">
        </div>
    </section>
    <section class="marcas">
        <h2 class="marcaswork">Marcas con las que trabajamos</h2>
        <div class="infomarcas">
            <div class="infomarcas-img">
                <img class="marcas-img" src="img/marcas1.png" alt="">
                <img class="marcas-img" src="img/marcas2.png" alt="">
                <img class="marcas-img" src="img/marcas3.png" alt="">
            </div>
        </div>
    </section>

  <%- include("../partials/footer.ejs")%> 

    <script type="text/javascript">
        function redirect() {

            window.location.href = "/product/detail";
        }
    </script>
</body>

</html>