<!DOCTYPE html>
<html lang="en">

    
  <%- include("../partials/headproduct.ejs") %> 
  <body>
    <%- include("../partials/headerAdmi.ejs") %> 
    <main>

        <h2 class= list><b>NACIONAL</b></h2>
        <div class="contenedor">
            <div class="card">
                <img src="../img/Las-gaviotas.webp" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4 class="lugar"><b>Las Gaviotas</b></h4>
                    <div class="buttonIn">
                        <button id="clear3">Eliminar</button>
                        <button id="edit3" onClick="redirect()">Editar <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="../img/termasFiambala.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4 class="lugar"><b>Termas de Fiambala</b></h4>
                    <div class="buttonIn">
                        <button id="clear3">Eliminar</button>
                        <button id="edit3" onClick="redirect()">Editar <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../img/Posada del Qenti.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4 class="lugar"><b>Posada del Qentis</b></h4>
                    <div class="buttonIn">
                        <button id="clear3">Eliminar</button>
                        <button id="edit3" onClick="redirect()">Editar <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../img/El Bolsón.jpg" alt="Avatar"  style="width:100%">
                <div class="container">
                    <h4 class="lugar"><b>El Bolsón</b></h4>
                    <div class="buttonIn">
                        <button id="clear3">Eliminar</button>
                        <button id="edit3" onClick="redirect()">Editar <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../img/otrosdestinos1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4 class="lugar"><b>Cafayate</b></h4>
                    <div class="buttonIn">
                        <button id="clear3">Eliminar</button>
                        <button id="edit3" onClick="redirect()">Editar <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="../img/Las-gaviotas.webp" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4 class="lugar"><b>Las Gaviotas</b></h4>
                    <div class="buttonIn">
                        <button id="clear3">Eliminar</button>
                        <button id="edit3" onClick="redirect()">Editar <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <h2 class= list><b>INTERNACIONAL</b></h2>
        <div class="contenedor">
            <div class="card">
                <img src="../img/PuertoVallarta.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4 class="lugar"><b>Puerto Vallarta</b></h4>
                    <div class="buttonIn">
                        <button id="clear3">Eliminar</button>
                        <button id="edit3" onClick="redirect()">Editar <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="../img/otrosdestinos2.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4 class="lugar"><b>Brasil</b></h4>
                    <div class="buttonIn">
                        <button id="clear3">Eliminar</button>
                        <button id="edit3" onClick="redirect()">Editar <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../img/otrosdestinos3.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4 class="lugar"><b>Machu Pichu</b></h4>
                    <div class="buttonIn">
                        <button id="clear3">Eliminar</button>
                        <button id="edit3" onClick="redirect()">Editar <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script> hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function () {
            document.querySelector("body").classList.toggle("active");
        })</script>
         <script type="text/javascript">
            function redirect() {
    
                window.location.href = "/product/editar";
            }
        </script>
</body>

</html>