<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viajeros</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <header class="header">
        <img class="header-logo" src="img/logoViajeros.png" alt="">

        <div class="header-rigth">
            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="contact">Contacto</a>
                    </li>
                    <li>
                        <a href="cart">Carrito</a>
                    </li>
                    <li>
                        <a href="login">Login</a>
                    </li>
                    <li>
                        <a href="register">Registrarse</a>
                    </li>
                </ul>
            </nav>


            <h1 class="header-titulo">Titulo</h1>
            <p class="header-parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt, ullam voluptatem molestiae voluptatibus ipsa,
                autem quasi vel aperiam earum eaque fuga facere ipsam? Doloremque,
                fugiat molestias consectetur provident minima itaque.</p>
        </div>

    </header>
    <section class="buscador">
        <div class="contenedor-buscador">
            <input class="input-buscador" type="text" value="Busca tu destino">
        </div>
        <div class="header-contenedor-bars">
            <i class="fas fa-bars header-bars"></i>
        </div>
        <img class="imgpbanner" src="img/banner2.png" alt="">
    </section>

    <main class="main-product">
        <section class="main-product-section">
            <article class="destiny">
                <div class="destiny-card-top">
                    <img class="imgproduct" src="img/product.jpg" alt="">
                </div>
                <div class="product-card-body">
                    <h1 class="destiny-title">ESTANCIA LA ERNESTINA ECOTURISMO.</h1>
                    <p class="destiny-description">Programa de salidas propias en bus para conocer ESTANCIA LA
                        Ernestina Ecoturismo. Salidas
                        en SEPTIEMBRE 2022.
                    </p>
                    <div class="p">
                        <div class="producto-descripcion">
                            <p class="producto-descrip">La estancia cuenta con ocho cabañas con DISEÑOS ÚNICOS,
                                totalmente
                                construidas con madera y
                                piedras del lugar, con todas las comodidades para que puedan alojarse de 2 a 14
                                personas.

                                Estancia La Ernestina es un deleite para los sentidos, porque además del confort y la
                                belleza de
                                nuestras cabañas y el entorno, podrás disfrutar los mejores sabores y aromas en Buena
                                Yunta,
                                nuestro exclusivo restaurante, donde combinamos sabiamente los recursos que nos brinda
                                la
                                naturaleza con la experiencia y las recetas únicas de nuestro chef.

                                La experiencia natural de La Ernestina, comienza aún antes de llegar. Desviandose sólo
                                unos
                                metros de la ruta S271 camino a San Clemente (Valle de Paravachasca, Córdoba) comenzará
                                a
                                vislumbrar la gran variedad de árboles que hacen de nuestro entorno un paisaje de
                                ensueño.</p>
                            <p>.</p>
                            <div class="mapa">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3392.371741925588!2d-64.66368368514716!3d-31.7603454201504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d497a14a378bb%3A0xfb3f1d0d7d735ab7!2sEstancia%20La%20Ernestina!5e0!3m2!1ses!2sar!4v1659678839917!5m2!1ses!2sar"
                                    width="300" height="300" style="text-align: center;" allowfullscreen=""
                                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <h1 class="detail">DETALLES</h1>
                        </div>
                        <ul class="producto-info">
                            <li><i class="fas fa-bus">Bus de turismo Mix (opcional butaca cama $3.000).</i></li>
                            <li><i class="fas fa-calendar">03 Noches.</i></li>
                            <li><i class="fas fa-bed">Alojamiento.</i></li>
                            <li><i class="fa fa-utensils">Régimen de Comidas: ALL INCLUSIVE.</i></li>
                            <li><i class="fa fa-walking">Excursiones Incluidas: Trekking, Rappel, Cabalgatas.Terapias
                                    Naturales y Retiro.</i></li>
                            <li><i class="fa fa-user">Coordinador Permanente.</i></li>
                            <li><i class="fa fa-users">Guías Locales.</i></li>
                            <li><i class="fas fa-shield-virus">Seguro COVID-19.</i></li>
                        </ul>
                    </div>
                    <div class="metodo-pago">
                        <div class="efectivo">
                            <p class="price"> EFECTIVO $55.000</p>
                        </div>
                        <div class="tarjetas">
                            <ul>
                                <li class="tarjetas1"><i class="fab fa-cc-visa"></i></li>
                                <li class="tarjetas1"><i class="fab fa-cc-mastercard"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contenedor-btn">
                        <button class="article-btn" onClick="redirect()">Comprar</button>
                    </div>
                </div>
    </main>
    <div id="carrito-buscados">
        <div class="carrito-destinos">
            <h2 class="carrito-h2">Destinos más buscados</h2>
            <p class="img-carrito"><img class="carrito-img" src="img/otrosdestinos1.jpg" alt=""></p>
            <p class="img-carrito2"><img class="carrito-img" src="img/otrosdestinos2.jpg" alt=""></p>
            <p class="img-carrito3"><img class="carrito-img" src="img/otrosdestinos3.jpg" alt=""></p>
            <p class="img-carrito2"><img class="carrito-img" src="img/otrosdestinos2.jpg" alt=""></p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto incidunt, delectus voluptates, illo
                labore voluptatibus saepe odio iusto omnis</p>
        </div>
    </div>

    </div>

    </section>


    </section>
    <footer class="footer">
        <article class="footer-accesos">
            <h1 class="footer-titulo">Accesos</h1>
            <ul class="footer-ul">
                <li class="footer-li"><a href="">Inicio</a></li>
                <li class="footer-li"><a href="">Contacto</a></li>
                <li class="footer-li"><a href="">Nosotros</a></li>
                <li class="footer-li"><a href="">Viajes</a></li>
            </ul>
        </article>

        <article class="footer-redes">
            <h1 class="footer-redes-titulo">Nuestras Redes</h1>
            <div class="footer-contenedor-icono">
                <i class="fab fa-facebook footer-icono"></i>
                <i class="fab fa-instagram footer-icono"></i>
                <i class="fab fa-linkedin-in footer-icono"></i>
            </div>
        </article>

        <article class="footer-info">
            <h1 class="footer-info-titulo">Informacion</h1>
            <p class="footer-info-parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe dolor beatae sapiente. Culpa porro totam, provident dolore eum nihil? Voluptates,
                quasi fuga est repudiandae saepe a laborum nostrum. Dignissimos, optio!</p>
        </article>

    </footer>
    <script type="text/javascript">
        function redirect() {

            window.location.href = "/cart";
        }
    </script>
</body>

</html>