<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajeros</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class="header">
        <img class="header-logo" src="/img/logoViajeros.png" alt="">

        <div class="header-rigth">
            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="contact">Contacto</a>
                    </li>
                    <li>
                        <a href="cart">Carrito</a>
                    </li>
                    <li>
                        <a href="login">Login</a>
                    </li>
                    <li>
                        <a href="register">Registrarse</a>
                    </li>
                </ul>
            </nav>


            <h1 class="header-titulo">Titulo</h1>
            <p class="header-parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt, ullam voluptatem molestiae voluptatibus ipsa,
                autem quasi vel aperiam earum eaque fuga facere ipsam? Doloremque,
                fugiat molestias consectetur provident minima itaque.</p>
        </div>

    </header>

    <section class="buscador">
        <div class="contenedor-buscador">
            <input class="input-buscador" type="text" value="Busca tu destino">
        </div>
        <div class="header-contenedor-bars">
            <i class="fas fa-bars header-bars"></i>
        </div>
        <img class="imgpbanner" src="img/banner2.png" alt="">
    </section>

    <main class="main-register">
        <h1 class="main-register-title">Registre su cuenta</h1>

        <section class="main-register-section">
            <div class="register-panel">
                <label class="register-label" for="nombre">Nombre completo</label>
                <input type="text" name="nombre" placeholder="Nombre completo">
                <label class="register-label" for="apellido">Apellido</label>
                <input type="text" name="apellido" placeholder="Apellido">
                <label class="register-label" for="fecha-nacimiento">Fecha de nacimiento</label>
                <input type="date" name="fecha-nacimiento">
                <label class="register-label" for="mail">Email</label>
                <input type="email" name="email" placeholder="Email">
                <label class="register-label" for="re-email">Repetir email</label>
                <input type="email" name="re-email" placeholder="Repetir email">
                <label class="register-label" for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña">
                <label class="register-label" for="re-password">Repetir contraseña</label>
                <input type="password" name="re-password" placeholder="Contraseña">
                <label class="register-label" for="tel">Telefono de contacto</label>
                <input type="tel" name="tel" placeholder="Telefono">
                <div class="agree-div">
                    <label class="ad-agree-label" for="ad-agree">Deseo recibir ofertas y más información</label>
                    <input class="ad-agree-check" type="checkbox" name="ad-agree" id="ad-agree">
                    <label class="terms-agree-label" for="terms-agree">Aceptor los terminos y condiciones</label>
                    <input class="terms-agree-check" type="checkbox" name="terms-agree" id="terms-agree">
                </div>
                <button>Cuenta cuenta</button>
            </div>
            <div id="ad">
                <div class="add">
                    <h2>Te puede interesar</h2>
                    <h3>Pack destino</h3>
                    <img class="add-img" src="/img/otrosdestinos3.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto incidunt, delectus
                        voluptates, illo labore voluptatibus saepe odio iusto omnis</p>
                </div>
                <div class="add-wideview">
                    <h2>Te puede interesar</h2>
                    <h3>Pack destino</h3>
                    <img class="add-img" src="/img/otrosdestinos2.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto incidunt, delectus
                        voluptates, illo labore voluptatibus saepe odio iusto omnis</p>
                </div>
            </div>
        </section>

    </main>

    <section class="nosotros">
        <div>
            <h1 class="nosotros-titulo">Titulo</h1>
            <p class="nosotros-parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cumque corporis qui, rem officia quo dolore nulla quae, doloremque explicabo eius deserunt
                autem eligendi fugit officiis. Unde doloribus alias sed repellendus!</p>
            <div class="nosotros-contenedor-btn">
                <button class="nosotros-btn">Conocer más</button>
            </div>
        </div>

        <div class="nosotros-contenedor-img">
            <img class="nosotros-img"
                src="https://www.xplora.eu/wp-content/uploads/como-escribir-web-sobre-nosotros.jpg" alt="">
        </div>
    </section>

  

    <footer class="footer">
        <article class="footer-accesos">
            <h1 class="footer-titulo">Accesos</h1>
            <ul class="footer-ul">
                <li class="footer-li"><a href="">Inicio</a></li>
                <li class="footer-li"><a href="">Contacto</a></li>
                <li class="footer-li"><a href="">Nosotros</a></li>
                <li class="footer-li"><a href="">Viajes</a></li>
            </ul>
        </article>

        <article class="footer-redes">
            <h1 class="footer-redes-titulo">Nuestras Redes</h1>
            <div class="footer-contenedor-icono">
                <i class="fab fa-facebook footer-icono"></i>
                <i class="fab fa-instagram footer-icono"></i>
                <i class="fab fa-linkedin-in footer-icono"></i>
            </div>
        </article>

        <article class="footer-info">
            <h1 class="footer-info-titulo">Informacion</h1>
            <p class="footer-info-parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe dolor beatae sapiente. Culpa porro totam, provident dolore eum nihil? Voluptates,
                quasi fuga est repudiandae saepe a laborum nostrum. Dignissimos, optio!</p>
        </article>

    </footer>
</body>

</html>