@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

h1,
h2,
p,
li {
    font-family: 'Dosis', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: #ffffff;
}


/* HEADER  */


.header {
    background-color: #c7c2c2;
}

.header-logo {
    width: 100%;
    margin-bottom: 2rem;
}

.header-nav {
    display: none;
}

.header-contenedor-bars {
    text-align: center;
    margin-bottom: 2rem;
    padding: 0 1rem 0 1rem;
}

.header-bars {
    font-size: 2rem;
    background-color: rgb(53, 103, 196);
    border-radius: 5px;
    padding: 1rem;
}

.header-titulo {
    text-align: center;
    font-weight: bold;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
}

.header-parrafo {
    padding: 0 1rem 1rem 1rem;
}





/* SECTION HOME */

.buscador {
    padding: 1rem;
    background-color: burlywood;
}

.contenedor-buscador {
    text-align: center;
}

.input-buscador {
    padding: 0.5rem;
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
}





/* BANNER PUBLICITARIO*/

.banner {
    padding: 1rem;
    text-align: center;
}

/* .banner-titulo {
}
 */




/* MAIN - DESTINOS */
.main-home {
    padding: 1rem;
    background-color: bisque;
}

.main-home-titulo {
    margin-bottom: 1rem;

    text-decoration: underline;
}

.main-home-section {
    padding: 2rem;
}

.article {
    border-radius: 5px;
}

/* .article-card-top {} */

.article-img {
    width: 100%;
}

.article-card-body {
    padding: 1rem;
    background-color: #c7c2c2;
}

.article-titulo {
    margin-bottom: 1rem;
}

.article-parrafo {
    margin-bottom: 1rem;
}

.article-precio {
    margin-bottom: 1rem;
}

.contenedor-btn {
    text-align: center;
}

.article-btn {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: #6481bb;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #6481bb;
    font-family: 'Dosis', sans-serif;
}






/* SECTION - NOSOTROS */

.nosotros {
    background-color: grey;
}

.nosotros-titulo {
    text-align: center;
    padding: 1rem 1rem;
}

.nosotros-parrafo {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.nosotros-contenedor-btn {
    text-align: end;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.nosotros-btn {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: blue;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid blue;
    font-family: 'Dosis', sans-serif;
}

/* .nosotros-contenedor-img {
    
} */

.nosotros-img {
    width: 100%;
}





/* SECTION - MARCAS */

.marcas {
    padding: 1rem;
    text-align: center;
}

/* .marcas-titulo {

}

 */



/* FOOTER */

.footer {
    padding: 2rem 0;
    background-color: #414141;
    text-align: center;
}

/* FOOTER ACCESOS */

/* .footer-accesos {

}
 */
.footer-titulo {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.footer-ul {
    margin-bottom: 2rem;
}

.footer-li {
    margin-bottom: 0.5rem;
}

/* FOOTER REDES */

/* .footer-redes {

} */

.footer-redes-titulo {
    margin-bottom: 1rem;
}

.footer-contenedor-icono {
    margin-bottom: 2rem;
}

.footer-icono {
    font-size: 2rem;
    padding: 0.5rem;
    color: #a7bb39;
}


/* FOOTER INFORMACION */

.footer-info {
    text-align: center;
}

.footer-info-titulo {
    margin-bottom: 1rem;
}

.footer-info-parrafo {
    padding: 0 1rem;
}


@media (min-width: 1260px) {

    /* HEADER */

    .header ul {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .header li {
        list-style: none;
        display: inline-block;
        padding: 1rem;
        transition: 0.5s;
    }
    .header li:hover {
        transform: translateY(-5px);
        transition: 0.5s;
    }
    .header li a {
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        transition: 0.5s;
    }

    .header li a:hover {
        color: #6481bb;
        transition: 0.5s;
    }

    .header {
        display: flex;
        padding: 2rem;
        background-color: #ffffff;
    }

    .header-logo {
        margin-bottom: 0;
        width: 25%;
    }

    /* .header-rigth {} */

    .header-nav {
        display: flex;
    }

    .header-contenedor-bars {
        display: none;
    }

    .buscador {
        background-color: #7ed957;
    }
    /* MAIN */

    .main-home {
        background-color: #ddce4c;
        padding: 1rem 5rem;
    } 


    .article {
        display: inline-block;
        padding: 0;
        width: 20%;
        transition: 0.5s;
    }

    .article:hover {
        transform: translateY(-5px);
        box-shadow: -9px 10px 8px 0 #00000045;
        transition: 0.5s;
        cursor: pointer;
    }
    .article-card-body {
        background-color: #ffffff;
    }

    .article-btn {
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.5s;
    }

    .article-btn:hover {
        background-color: #6481bb;
        color: white;
        transition: 0.5s;
        cursor: pointer;
    }


    /* NOSOTROS */

    .nosotros {
        display: flex;
        background-color: #6481bb;
    }

    .nosotros-parrafo {
        padding: 0 4rem;
    }
    /* .nosotros-contenedor-btn {

    } */
    .nosotros-btn {
        border: 1px solid #414141;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.5s;
    }
    .nosotros-btn:hover{
        background-color: #414141;
        color: #ffffff;
        transition: 0.5s;
        cursor: pointer;
    }



    /* FOOTER */

    .footer {
        display: flex;
    }
    .footer-accesos {
        width: 30%;
        color: #ffffff;  
        transition: 0.5s;
    }
    .footer-li a {
        transition: 0.5s;
    }
    .footer-li a:hover{
        color: #ddce4c;
        transition: 0.5s;
    }
    .footer-redes {
        width: 33%;
        color: #ffffff;
    }
    .footer-icono {
        color: #ffffff;
        transition: 0.5s;
    }
    .footer-icono:hover {
        color: #ddce4c;
        transition: 0.5s;
        cursor: pointer;
    }
    .footer-info {
        width: 33%;
        color: #ffffff;
    }
}

.main-login-titulo {
    text-align: center;
    padding: 15px;
    background-color: honeydew;
    font-weight: 800;
}

.main-login-section {
    text-align: center;
}

.main-login-section p {
    text-align: left;
}

.login-panel {
    padding: 10px;
    text-align: center;
}

.login-label {
    text-align: left;
    display: block;
    color: #414141;
    padding: 10px;
    padding-left: 20%;
    position: relative;
    font-family: "Dosis";
    font-weight: 550;
}

.login-panel input {
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin: auto;
    max-width: 500px;
    width: 70%;
    border-radius: 5px;
    height: 2rem;
    border: #6481bb 0.5px solid;
}

.login-panel input:focus {
    text-align: left;
    border: 5px solid cornsilk;
}



.login-panel button {
    padding: 5px;
    margin: 15px auto 5px;
    display: block;
    box-sizing: border-box;
    height: max-content;
    width: 20%;
    max-width: 120px;
    width: max-content;
    border-radius: 3px;
    border: 1px solid powderblue;
    background-color: thistle;
}

.login-panel button:active {
    background-color: lightskyblue;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.remember-label {
    display: inline-block;
    text-align: left;
    font-family: "Dosis";
    padding-right: 10px;
    
}

#remember {
    display: inline-block;
    width: 20px;
    margin-top: 15px;
}

.forgot {
    display: block;
    font-style: oblique;
    text-align: center;
    margin: 0;
    color: gray;
    padding: 5px;
}

.add {
    background-color: gainsboro;
    box-sizing: border-box;
    padding: 20px 0;
}

.add h2 {
    margin-bottom: 15px;
}

.add h3 {
    font-family: "Dosis";
    margin: 10px 0;
}

.add-img {
    width: 80%;
}

.add p {
    text-align: center;
    margin: auto;
    width: 70%;
}

/*CARRITO.HTML--------------------------------------------------------------*/

.carrito-paquete {
    background-color: #a7bb39;
    color: #ffffff;
    text-align: center;
    border: solid 1px white;
    
}
main.carrito {
    margin: auto;
    width: 90%;
}
.carrito-main {
    display: flex;
    flex-direction: row;  
    margin-top: 5%; 
    font-size:x-large;
    font-weight: 300;
}
.carrito-opcion-actual {
    width: 80%;
}
.carrito-precio {
    width: 10%;
}
.carrito-total {
    width: 80%;
}
.carrito-tarjetas {
    width: 80%;
    text-align: center;
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fa-cc-mastercard {
    color: #a7bb39;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.fa-cc-visa {
    color: #a7bb39;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.carrito-boton {
    background-color: #a7bb39;
    width: 100%;
    border: none;
    font-size: 3rem;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10%;
}
.carrito-derechos {
    font-size:xx-large;
    text-align: center;
    text-decoration: underline;
}
.carrito-p {
    font-size: large;
}
.carrito-botones {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.carrito-boton-seguir-comprando {
    background-color: #a7bb39;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.carrito-boton-cancelar {
    background-color: #a7bb39;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}