<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head.ejs") %> 

<body>
    <%- include("../partials/header.ejs") %> 


    <!-- carrito -->

    <main class="carrito" id="product-cart">
        <h1 class="carrito-paquete">NOMBRE DEL PAQUETE</h1>
        <div class="carrito-main">
            <p class="carrito-opcion-actual">Opcion Actual</p>
            <p class="carrito-precio">$$$$</p>
        </div>
        <div class="carrito-main">
            <p class="carrito-opcion-actual">paquete extra 1</p>
            <p class="carrito-precio">$$$$</p>
        </div>
        <div class="carrito-main">
            <p class="carrito-opcion-actual">paquete extra 2</p>
            <p class="carrito-precio">$$$$</p>
        </div>
        <div class="carrito-main">
            <p class="carrito-opcion-actual">paquete extra 3</p>
            <p class="carrito-precio">$$$$</p>
        </div>
        <div class="carrito-main">
            <p class="carrito-total">TOTAL</p>
            <p class="carrito-precio">$$$$$</p>
        </div>
        </div>
        <div class="carrito-tarjetas">
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-visa"></i>
        </div>
        <div class="carrito-pagar">
            <button type="submit" class="carrito-boton">Pagar</button>
        </div>
        <div>
            <h2 class="carrito-derechos">DERECHOS Y/O ACLARACIONES</h2>
            <p class="carrito-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla magnam vel unde quia
                consectetur id
                delectus error aut ullam, libero, obcaecati adipisci accusantium iste veritatis et cupiditate rem ab
                minus?
            </p>
        </div>

        <div class="carrito-botones">
            <span class="carrito-seguir-comprando">
                <button type="submit" class="carrito-boton-seguir-comprando">Seguir comprando</button>
            </span>
            <span class="carrito-cancelar-compra">
                <button type="reset" class="carrito-boton-cancelar">Cancelar compra</button>
            </span>
        </div>
    </main>

    <div id="carrito-buscados">
        <div class="carrito-destinos">
            <h2 class="carrito-h2">Destinos más buscados</h2>
            <p class="img-carrito"><img class="carrito-img" src="img/otrosdestinos1.jpg" alt=""></p>
            <p class="img-carrito2"><img class="carrito-img" src="img/otrosdestinos2.jpg" alt=""></p>
            <p class="img-carrito3"><img class="carrito-img" src="img/otrosdestinos3.jpg" alt=""></p>
            <p class="img-carrito2"><img class="carrito-img" src="img/otrosdestinos2.jpg" alt=""></p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto incidunt, delectus voluptates, illo
                labore voluptatibus saepe odio iusto omnis</p>
        </div>
    </div>


    <!-- footer -->
   
    </section>
    <%- include("../partials/footer.ejs")%> 
</body>

</html>